<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bubbles0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,144}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,3},{42,144}}</string>
                <key>sourceSize</key>
                <string>{70,150}</string>
            </dict>
            <key>bubbles1.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,44},{36,144}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,3},{36,144}}</string>
                <key>sourceSize</key>
                <string>{70,150}</string>
            </dict>
            <key>bubbles2.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{36,144}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,3},{36,144}}</string>
                <key>sourceSize</key>
                <string>{70,150}</string>
            </dict>
            <key>bubbles3.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{40,144}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,3},{40,144}}</string>
                <key>sourceSize</key>
                <string>{70,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bubbles.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41f5f24db1fb578b73372cdbce996044$</string>
            <key>textureFileName</key>
            <string>bubbles.png</string>
        </dict>
    </dict>
</plist>
