<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eat0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{185,112}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{185,112}}</string>
                <key>sourceSize</key>
                <string>{191,128}</string>
            </dict>
            <key>eat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{179,112}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{179,112}}</string>
                <key>sourceSize</key>
                <string>{191,128}</string>
            </dict>
            <key>eat2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{177,112}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{177,112}}</string>
                <key>sourceSize</key>
                <string>{191,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eat.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2458064e219b5afad44752bcf43158e8$</string>
            <key>textureFileName</key>
            <string>eat.png</string>
        </dict>
    </dict>
</plist>
